
body {
	background: rgb(30, 50, 80);
	height: 100vh;
}











#homeScreen {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	
	z-index: 1000;
	overflow: hidden;
	

	box-shadow: 0 -5px 30px 5px rgba(50, 50, 50, 0.3);
	background: rgb(30, 30, 32);

	transition: transform 0.3s, opacity 0.3s;
}

#homeScreen.hide {
	transform: scale(1.4);
	opacity: 0;
	pointer-events: none;
}

#homescreen_projectCraftLogo {
	position: absolute;

	width: 100%;
	text-align: center;
	font-size: 80px;
	font-weight: bolder;

	animation: homeScreen_showLogo 5s 1;
	animation-fill-mode: forwards;
}

.homescreen_projectCraftInfo {
    position: absolute;
    left: 50px;
	width: 100%;
	text-align: left;
	font-size: 14px;
    opacity: 0;
    animation-name: homescreen_info;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#homeScreen_backgroundImage {
	position: relative;
	left: -10vw;
	width: 120vw;
	height: auto;
	opacity: 0.6;
	animation: homeScreen_backgroundImage 3s 1;
}


@keyframes homeScreen_showLogo {
    0% {
    	opacity: 0; 
    }
    50% {
    	opacity: 1;

    }
    85% {
    	opacity: 1;
    	top: calc(50vh - 80px);
    	font-size: 80px;
    }
    100% {
    	opacity: .6;
    	font-size: 50px;
    	top: 40px;
    }
}

@keyframes homescreen_info {
   0% {
       opacity: 0;
   }
   
   100% {
       opacity: 1;
   }
}



@keyframes homeScreen_navigationHolderIn {
    0% {
    	opacity: 0; 
    }
    50% {
    }
    85% {
    	top: 100vh;
    	opacity: 0;
    }
    100% {
    	top: calc(50vh - 100px);
    	opacity: 1;
    }
}


@keyframes homeScreen_backgroundImage {
    0% {
    	filter: blur(50px);
    }
    40% {
    	filter: blur(50px);
    }
    100% {
    	filter: blur(0px);
    }
   
}

.avatars {
    position: absolute;
    width: 100%;
    left: 50px;
    display: flex;
}

div.avatar {
    text-align: center;
    width: 100px;
    margin-right: 20px;
}

img.avatar {
    width: 100px;
    height: 226px;
    display: block;
}

a.discord {
    text-decoration: underline;
    color: rgba(255, 255, 255, 0.4);
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}






	#homeScreen_navigationHolder {
		position: absolute;
		left: 10vw;
		width: 80vw;
		height: 260px;
		padding-bottom: 100px;

		animation: homeScreen_navigationHolderIn 5s 1;
		animation-fill-mode: forwards;
	}

		#homeScreen_navigationHolder .navigationItem {
			position: relative;
			float: left;

			margin-left: calc((100% - 200px * 2) / 3);
			width: 200px;
			height: 250px;
			transition: all 0.3s;
			cursor: pointer;
		}

		#homeScreen_navigationHolder .navigationItem:hover {
			transform: scale(1.04);
		}


			.navigationItem .iconHolder {
				position: relative;
				float: left;
				top: 0;
				width: calc(100% - 25px * 2);
				height: calc(100% - 25px * 2 - 50px);

				padding: 25px;
				background: rgba(200, 200, 200, 0.9);
				border-bottom: 10px solid rgba(150, 150, 150, 0.9);

				transition: all 0.2s;
			}

			.navigationItem:hover .iconHolder {
				top: -5px;
				margin-bottom: -5px;
				background: rgb(200, 200, 200);
				border-bottom: 15px solid rgba(150, 150, 150, 0.9);
			}

			.navigationItem .itemTitle {
				position: relative;
				float: left;
				margin-top: 5px;
				width: 100%;
				height: 30px;


				text-align: center;
				color: rgba(230, 230, 230, 0.9);
				font-size: 25px;
				font-weight: bold;
			}



















#infoMenu .infoImage {
	position: relative;
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	margin-top: 5px;
}

#projectPage_titleHolder {
	position: -webkit-sticky;
	position: sticky;
	top: -25px;
	padding-top: 10px;
	z-index: 100;
}





#topBar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 150px;
	z-index: 100;
	pointer-events: none;

}

#topBar .shadowBackground {
	position: absolute;
	left: 0;
	top: -100px;
	width: 100%;
	height: 100px;
	box-shadow: 0 50px 50px 0px rgba(0, 0, 0, .7);
}

#topBar .button {
	position: absolute;
	width: 25px;
	height: auto;
	padding: 12.5px;

	opacity: .6;
	z-index: 100;
	pointer-events: all;
	cursor: pointer;
	transition: all 0.3s;
}
#topBar .button:hover {
	opacity: 1;
}


#topBar .button.infoMenuIcon {
	float: right;
	right: 0;
}
































#mapHolder {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;

	overflow: auto;
}

#backgroundImage, #mapCanvas {
	position: absolute;
	left: 0;
	top: 0;

	width: 100%;
	height: auto;
}
#mapCanvas {
	padding-right: 390px;
	transition: padding-right 0.3s;
}
#mapCanvas.infoMenuHidden {
	padding-right: 0;
}









.buttonHolder {
	position: absolute;
	float: bottom;
	bottom: 20px;
	
	width: auto;
	height: 30px;
	
	padding: 3px;

	box-shadow: 0 -5px 30px 5px rgba(50, 50, 50, 0.2);
	background: rgba(40, 40, 52, 0.6);
	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);

	border-radius: 5px;
	transition: all 0.3s;
}

.buttonHolder .zoomButton {
	position: relative;
	float: left;
	width: calc(50% - 1px);
	
	font-size: 30px;
	font-weight: 30px;
	color: #eee;

	text-align: center;
	line-height: 28px;

	cursor: pointer;
}


#zoomButtonHolder {
	left: calc(100% - 95px - 400px);
}

#zoomButtonHolder.infoMenuHidden {
	left: calc(100% - 95px);
}



div.dimensionButtonHolder {
	height: 25px;
	background: url('../images/netherPortal.gif');
}


.netherPortalButton {
	position: relative;
	width: auto;
    
    background: url('../images/netherPortal.gif');

	padding: 5px;

	text-align: center;
	font-weight: bold;

	cursor: pointer;
}



















#infoMenu {
	position: fixed;
	float: right;
	right: 0;
	top: 0;

	width: 390px;
	height: 100vh;
	

	box-shadow: 0 -5px 30px 5px rgba(50, 50, 50, 0.3);
	background: rgba(30, 30, 32, 0.8);
	-webkit-backdrop-filter: blur(40px);
	backdrop-filter: blur(40px);

	z-index: 1000;
	transition: right 0.3s;

	overflow: hidden;
}

#infoMenu.hide {
	right: -390px;
}





.preventTextOverflow {
	overflow: hidden;
	overflow-x: auto;
	white-space: nowrap;
}
.preventTextOverflow::-webkit-scrollbar {
	height: 2px;
	background: rgba(0, 0, 0, 0.5);

}

.headerText {
	color: rgba(255, 255, 255, 0.4);
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

.text {
	position: relative;
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.text-only {
	color: rgba(255, 255, 255, 0.6);
	font-size: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

.text.subHeader {
	color: rgba(255, 255, 255, 0.4);
	font-size: 14px;
}
























#infoMenu .exitIcon {
	position: -webkit-sticky;
	position: sticky;
	float: right;
	right: 0;
	top: -10px;
	margin-top: -25px;

	width: 25px;
	height: auto;

	opacity: 0.5;
	transition: opacity 0.3s;
	cursor: pointer;
	z-index: 100;
}

#infoMenu .exitIcon:hover {
	opacity: 0.8;
}






.infoMenuPage {
	position: absolute;
	float: left;
	top: 0;
	left: 0;

	width: calc(100% - 20px * 2);
	height: calc(100% - 20px);
	padding: 20px;
	padding-bottom: 0;
	overflow: auto;

	transition: all 0.5s;/* opacity 0.3s;*/
}
.infoMenuPage.hide {
	transition: all 0.2s;
	top: 40px;
	opacity: 0;
	pointer-events: none;
}




	#projectListHolder {
		position: relative;
		margin-top: 15px;
		width: 100%;
		height: calc(100% - 40px);
		overflow-y: auto;
	}

		.projectItem {
			position: relative;
			width: calc(100% - 20px);
			height: 30px;
			padding: 10px;
			
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			cursor: pointer;
		}

		.projectItem .headHolder {
			position: relative;
			float: left;
			width: 30px;
			height: auto;
			box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.1);
			/*padding: 3px;*/
			border-radius: 5px;
			/*background: rgba(255, 255, 255, 0.2);*/
		}

		.projectItem .titleHolder {
			position: relative;
			float: left;
			left: 5px;
			
			height: 20px;
			padding: 5px;	
			font-size: 18px;
			overflow: hidden;

			width: calc(100% - 95px);

			color: rgba(255, 255, 255, 0.7);
		}

		.projectItem .typeName {
			position: absolute; 
			float: right; 
			right: 0; 
			top: 15px;

			width: auto;
			height: 15px;
			padding: 3px 8px;
			
			font-size: 16px;
			color: rgb(237, 132, 0); 

			border-radius: 3px;
			border: 1px solid rgb(237, 132, 0);
		}









































.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}




































.minecraftFont {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	/*font-family: 'Minecrafter';*/
    /*src: url('minecraftFont.ttf') format('truetype'); /* Safari, Android, iOS */
}